.sidebar {
    min-width: 250px;
    width: 250px;
    min-height: 580px;
    height: 580px;
    position: fixed;
    top: 15px;
    left: 30px;
}


.sidebar .menu {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: small;
}

.container {
    position: absolute;
    left: 315px;
}

.table thead th {
    font-size: small;
}

.table tbody td {
    font-size: small;
}